/* Commentaire  */ 

/* Format global des pages  */ 

.fakenav  /* Cadre blanc a gauche des pages sur lequel defille la boite "nav" contenant les liens de navigation  */ 
{
  width: 300px;
  border : 4px black double;
  text-align: left;
  background-color: rgb(241, 241, 241);
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
}


nav /* Boite contenant les liens de navigation  */ 
{
  width: 250px;
  height: 400px;
  text-align: left;
  background-color: rgb(241, 241, 241);
  margin: 10px;
  margin-left: 5px;
  padding: 5px;
  position: fixed; 
  top: 250px;
}


.pageorga /* Concerne toute la page sauf le titre et le message de bienvenue  */ 
{
  display: flex;
  flex-direction: row;
}

.pagecontent /* Concerne toute la page sauf le titre et le message de bienvenue + le repertoire de lien (boite a part) */ 
{
  width: 1100px;
  background-color: rgb(236, 225, 189);
  min-height: 1000px;
  text-align: center;
  justify-content: center;
}

.homepage /* Concerne toute la page d'accueil' */ 
{
background-color: rgb(228, 200, 165);
text-align: center;
margin-left: 80px;
margin-right: 80px;
width: 1400px;
}

.abilities /* Concerne toute la page de presentation des capaciites standards des creatures  */ 

{
    background-color: rgb(216, 219, 250);
    margin-left: 80px;
    width: 1400px;
}

.Mainpage /* Concerne toute la page */ 
{
  background-color: rgb(228, 200, 165);
  margin-left: 80px;
  width: 1400px;
}

*{
  font-family: sans-serif;
}



.opponent_image
{
  margin: 10px;
}

caption
{
  font-weight: bold;
  font-size: 18px;
  padding: 8px;
}

table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    padding: 2px;
}

.opponent_pres2
{
  text-align: center;
  justify-content: center;
  border : 4px black double;
}

.opponent_pres
{
  justify-content: space-around;
  border : 4px black double;
  padding: 5px;
}

.present_opponent
{
  margin:  20px;
}

.present_opponent_hp
{
  color: red;
  border : 4px red double;
  padding: 2px;
}

.dammage_input
{
  width: 30px;
  margin: 15px;

}

.present_opponent_init
{
  color: rgb(29, 14, 114);
  border : 4px rgb(36, 53, 201) double;
  padding: 2px;
  margin: 10px;
}

.attack_text_barre
{
  margin: 40px;
  background-color: white;
  border: 1px black;
  color: rgb(104, 104, 104);
  width: 1000px;

}

.character_init_input
{
  width: 60px;
}

.API_input
{
  text-align: left;
  margin-left: 400px;
}

td,th
{
    border: 1px solid black;
    font-size: 75%;
}

.titreresultat{
  width: 1100px;
}